version: '3.8'
services:
  backend:
    build:
      context: ./backend
    image: smart-hydrogen-backend
    container_name: smart_hydrogen_backend
    environment:
      - PORT=8050
    ports:
      - "8050:8050"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: smart-hydrogen-frontend
    container_name: smart_hydrogen_frontend
    environment:
      - VITE_BACKEND_URL=http://backend:8050
    ports:
      - "5173:5173"
    depends_on:
      - backend
    restart: unless-stopped